body {
    font: normal 12px arial;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.logo {
    margin-left: 20px;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 0 20px;
}

/*Một số class phổ biết*/
.fl {
    float: left;
}

.fl {
    float: right;
}

.cb {
    clear: both;
}
/*Phần header*/
#header {
    height: 80px;
    overflow: hidden;
}

    #header .logo {
        float: left;
        line-height: 80px;
    }

    #header .accountMenu {
        float: right;
        line-height: 80px;
    }
/*Menu chính*/
.mainMenu {
    background: #77c7FF;
}

    .mainMenu ul,
    .mainMenu li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .mainMenu li {
        display: inline-block;
        padding: 10px 15px;
        color: #ffffff;
        font-weight: bold;
    }

    .mainMenu ul a:hover {
        background: #3BAAFF;
    }

/*CSS cột trái cột phải của admin*/
.cotTrai {
    float: left;
    width: 18%;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    margin-right: 20px;
}

.cotPhai {
    float: right;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    min-height: 464px;
}

/*Css cho menu quản lý trái*/
.cotTrai .head {
    background: #f9f9f9;
    padding: 10px;
    font-weight: bold;
    border-top: solid 1px #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

    .cotTrai .head:first-child {
        border-top: none;
    }

.cotTrai ul li {
    padding: 5px 0;
}

.cotPhai .head {
    background: #f9f9f9;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    border-top: solid 1px #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

    .cotPhai .head:first-child {
        border-top: none;
    }
/*Css khung thêm mới*/
.formThemMoi {
    padding: 10px;
}

.ThongTin {
    overflow: hidden;
    margin-bottom: 10px;
}

.tenTruong {
    float: left;
    width: 10%;
    margin-right: 10px;
}

.oNhap {
    float: right;
    width: 50%;
    margin-right: 220px;
}

/*Css hiển thị danh mục sản phẩm*/
.khung {
    margin: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #dfdfdf;
}

    .table th, .table td {
        border: solid 1px #dfdfdf;
        padding: 5px;
        text-align: center;
    }

        .table td a {
            color: red;
        }

        .table td img {
            width: 200px;
            height: 160px;
        }
