body {
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 600px;
    height: 200px;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    border: 1px solid #eee;
    background-color: #eee;
    padding: 60px;
    min-height: 100%; /* Fix cho firefox */
    height: auto !important;
    height: 100%;
    .contact h2

{
    text-align: center;
    font-weight: bold;
}

.contact .name {
    font-weight: bold;
}


.contact label {
    display: block;
    text-align: left;
    margin-top: 10px;
}
